@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 48 24% 96%;
    --foreground: 60 5% 8%;
    --secondary: 51 18% 92%;
    --secondary-foreground: 60 5% 8%;
    --muted: 51 18% 92%;
    --muted-foreground: 60 2% 35%;
    --accent: 206 85% 35%;
    --accent-foreground: 48 56% 98%;
    --border: 43 17% 84%;
    --input: 43 17% 84%;
    --ring: 206 85% 35%;
    --radius: 0.25rem;
  }

  .dark {
    --background: 240 7% 5%;
    --foreground: 60 20% 95%;
    --secondary: 240 3% 11%;
    --secondary-foreground: 60 20% 95%;
    --muted: 240 3% 11%;
    --muted-foreground: 240 2% 61%;
    --accent: 202 79% 58%;
    --accent-foreground: 240 7% 5%;
    --border: 0 0% 15%;
    --input: 0 0% 15%;
    --ring: 202 79% 58%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(0.625rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scroll-horizontal {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-50% - 1.5rem));
  }
}

.animate-scroll-horizontal {
  animation: scroll-horizontal 60s linear infinite;
}

.group:hover .animate-scroll-horizontal {
  animation-play-state: paused;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}